body {
	background: teal;
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
	width: auto;
	background: darkslategray;
	min-width: 65em;
	margin: auto;
	padding: 1rem;
	box-sizing: border-box;
	
	border-bottom: thick solid lightseagreen;
}
header h1 {
	color: mediumspringgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
	margin: 0;
}
header p {
	color: mediumspringgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
}
header a {
	color: dodgerblue;
	text-shadow: none;
}
main {
	margin: 1rem auto;
	width: 65em;
	padding: 0 1em;
	background: paleturquoise;
	border-bottom: thick solid lightseagreen;
	border-right: thick solid lightseagreen;
	
	border-top: thick solid darkslategray;
	border-left: thick solid darkslategray;
}
/* This is for each "page" of the main, separated by a <hr> */
main div {
	writing-mode: vertical-rl;
	width: inherit;
	height: 30em;
	padding: 1em 0;
}
main hr {
	writing-mode: horizontal-tb;
	margin: 0;
}
table, th, td {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	margin: auto;
	writing-mode: horizontal-tb;
}
table {
	margin: 1em auto;
}
