body {
	background: teal;
}
header {
	text-align: center;
}
header h1 {
	color: springgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
}
header p {
	color: springgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
}
main {
	margin: auto;
	max-width: 65em;
	min-width: 15em;
	background: paleturquoise;
	padding: 1em;
}
table, th, td {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	margin: auto;
}
