body {
	background: teal;
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
	width: auto;
	background: darkslategray;
	min-width: 74em;
	margin: auto;
	padding: 1rem;
	box-sizing: border-box;
	
	border-bottom: 0.5em solid lightseagreen;
}
header h1 {
	color: lightseagreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px teal;
	margin: 0;
}
header p {
	color: lightseagreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px teal;
}
header a {
	color: dodgerblue;
	text-shadow: none;
}
main {
	margin: 1rem max(3rem, 50% - 68em/2);
	width: 65em;
	padding: 0 1em;
	background: paleturquoise;
	border-bottom: 0.5rem solid lightseagreen;
	border-right: 0.5rem solid darkslategray;
	
	border-top: 0.5rem solid darkslategray;
	border-left: 0.5rem solid darkslategray;
}
/* This is for each "page" of the main, separated by a <hr> */
main div {
	writing-mode: vertical-rl;
	width: inherit;
	height: 45em;
	padding: 1em 0;
}
main hr {
	border-width: 0.5rem;
	writing-mode: horizontal-tb;
	border-color: lightseagreen darkslategray darkslategray darkslategray;
	margin: 0;
	border-style: solid;
	display: block;
	height: 1rem;
	background-color: teal;
}
main h2 {
	text-align: center;
	padding: 1rem auto;
}
main img {
	width: 23rem;
	height: 41rem;
	margin: 2rem;
	display: block;
	object-fit: contain;
}
main blockquote {
	background-color: lightseagreen;
}
table, th, td {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	margin: auto;
	writing-mode: horizontal-tb;
	text-align: center;
}
td a {
	margin: auto;
}
table {
	margin: 1em auto;
}
