body {
	background: teal;
}
header {
	text-align: center;
}
header h1 {
	color: mediumspringgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
}
header p {
	color: mediumspringgreen;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0px lightseagreen;
}
main {
	margin: auto;
	width: 65em;
	padding: 0 1em;
	background: paleturquoise;
	border-style: solid;
	border-width: thick;
	border-color: lightseagreen;
}
/* This is for each "page" of the main, separated by a <hr> */
main div {
	writing-mode: vertical-rl;
	width: inherit;
	max-height: 30em;
	padding: 1em 0;
}
main hr {
	writing-mode: horizontal-tb;
	margin: 0;
}
table, th, td {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	margin: auto;
	writing-mode: horizontal-tb;
}
